
/laboratorio
/Parciales
/RecurrencyRelations
/RoundRobin
/EjercicioBD_Java/build/
/Concurrencias/nbproject/private/
/Concurrencias/build/
/Concurrencias/dist/
/OpcionalA_DB/nbproject/private/
/OpcionalA_DB/build/
/OpcionalB_DB/nbproject/private/
/Tendencia de tiempo/nbproject/private/
